<nav class="navbar navbar-light " style="display: flex; justify-content: space-between; padding: 2rem">
  <a class="navbar-brand" href="#">
    <img alt="" class="d-inline-block align-top" src="/assets/navbar-images/logo.png" style="width: auto">

  </a>

  <ul class="nav-item">
    <a class="nav-link" href="https://rastmobile.com/">Hakkımızda</a>
  </ul>

  <ul class="nav-item">
    <a class="nav-link" href="https://rastmobile.com/case-study/juri-yarisma-yazilimi/">Jüri - Yarışma Yazılımı</a>
  </ul>

  <ul class="nav-item">
    <a class="nav-link" href="https://getwordninja.com/">Word Ninja</a>
  </ul>

  <ul class="nav-item">
    <a class="nav-link" href="https://rastmobile.com/case-study/word-pyramids-kelime-bulmaca-oyunu/">Word Pyramids</a>
  </ul>

  <ul class="nav-item image-div">
    <img alt="" class="d-inline-block align-top"
         src="/assets/navbar-images/youtube.png" style="width: auto; margin-right: 1rem">
    <img alt="" class="d-inline-block align-top"
         src="/assets/navbar-images/instagram.png" style="width: auto; margin-right: 1rem">
    <img alt="" class="d-inline-block align-top"
         src="/assets/navbar-images/behance.png" style="width: auto; margin-right: 1rem">
    <img alt="" class="d-inline-block align-top"
         src="/assets/navbar-images/linkedin.png" style="width: auto; margin-right: 1rem">
  </ul>


</nav>

